<!doctype html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{ nav.html::navbar}"></div>

<div class="detail">
    <h4>상세페이지</h4>
    <img th:src="${items.filename}">
    <h4 th:text="${items.title}">금도금 바지</h4>
    <p th:text="${items.price}">7억</p>
    <p th:text="'작성자 : '+ ${items.username}"></p>
</div>

<div>
    <h4>댓글 쓰기</h4>
    <form action="/comment" method="post">
        <input name="content" placeholder="댓글내용">
        <input hidden name="parentId" th:value="${items.id}" readonly style="display : none">
        <button type="submit">작성</button>
    </form>
</div>

<div th:each="c : ${comments}">
    <p th:text="${c.content} +  ' 작성자 : '+ ${c.username}"></p>
</div>

</body>
</html>