<!doctype html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{ nav.html::navbar}"></div>

    <form action="/add" method="post">
        <input name="title" placeholder="상품">
        <input name="price" placeholder="가격">
        <input name="username" placeholder="작성자" th:value="${#authentication.principal.username}" readonly style="display: none;">
        <button type="submit">전송</button>
    </form>

</body>
</html>